<!DOCTYPE html>
<html lang="et">
<head>
<meta charset = "utf-8">
<title>Auto viljavedu</title>
</head>

<body>
<h1>Auto viljavedu</h1>
<div>
<ul>
	<li><a href="/">Avalehele</a></li>
	<li><a href="/autosisenemine">Auto sisenemine</a></li>
	<li><a href="/autovaljumine">Auto v채ljumine</a></li>
</ul>
</div>
<div>
<h2>Kokkuv천tte tekst:</h2>
<h3>Registrinumber:</h3>
<p><%= registernumber %></p>
<h3>Autosisenemismass:</h3>
<p><%= weightin %></p>
<h3>Autov채ljunemismass:</h3>
<p><%= weightout %></p>
<h3>Veergude summa autosisenemismass:</h3>
<p><%= totalWeightIn %></p>
<h3>Veergude summa autov채ljunemismass :</h3>
<p><%= totalWeightOut %></p>
</div>

</body>
</html>